.basicInfo h4{
    border-bottom: 2px gray solid;
}

.contactInfo  h4{
    border-bottom: 2px gray solid;
}

.optionInfo  h4{
    border-bottom: 2px gray solid;
}

.form-row{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.basicInfo,.contactInfo,.optionInfo{
    width: 600px;
}

.form-row label {
      width: 150px;
      font-weight: bold;
}

.form-row input{
    flex: 1;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.inline-container{
    border: solid gray;
    border-width: 5px 5px 10px;
    padding: 13px;
}

.form-row-gender{
    display: flex;
}

.form-row-gender span{
    width: 150px;
    font-weight: bold;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.checkBox{
    display: flex;
    flex-direction: column;
}





